@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face{
	font-family:led;
	src:url( './Cinzel-VariableFont_wght.ttf' ) 
}

@font-face {
    font-family: anony;
    src: url("./AnonymousPro-Regular.ttf");
}

@font-face {
    font-family: note;
    src: url("./NotoSerifSC-Regular.otf");
}

.note{
    font-family: note;
}

.anony {
    font-family: anony;
}

html,
body {
    padding: 0;
    margin: 0;
    background-color: black;
    color: white;
font-family: led;
}

.gold {
    color: #DFD1B3;
}

.objectfit{
    object-fit:fill;
}

.ant-modal-content,.ant-modal-header,.ant-modal-title{
    background-color: black !important;
    color: rgba(255,255,255,.4) !important;
}

.ant-modal-close-icon{
    color: rgba(255,255,255,.4) !important;
}

.ant-modal-content{
    width: 600px;
    padding: 30px 40px !important;
}

.ant-modal{
    margin-bottom: 200px;
}